:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --md-color: #050505 !important;
  --toc-height: calc(100vh - 300px);
  --color-violet: rgb(167 139 250);
  --line: hsl(0 0% 5% / 0.25);
}


html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  /* --c-bg: #050505; */
  --c-bg: rgb(24 24 27);
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  --md-color: #c9d1d9  !important;
  --line: hsl(0 0% 95% / 0.25);
}


body::before {
	--size: 55px;
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size);
	mask: linear-gradient(165deg, transparent 60%, white);
	bottom: 0;
	z-index: -1;
}


html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'DefaultEnFont', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* 1. declare transition */
.fade-move,
.fade-enter-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: up-to-down .5s ease;
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(1) translate(50px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: up-to-down .5s ease reverse;
}

@keyframes up-to-down {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0%);
  }
}



.right-enter-active {
  animation: right-to-left .5s ease;
}

@keyframes right-to-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}

.downUp-enter-active {
  animation: down-up .5s ease;
}

.downUp-leave-active {
  animation: down-up .5s ease reverse;
}

@keyframes one-in {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes multi-step-spin {
  0% {
    transform: rotate(0turn);
  }

  25% {
    transform: rotate(0.25turn);
  }

  50% {
    transform: rotate(0.5turn);
  }

  75% {
    transform: rotate(0.75turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

.common-shadow {
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.my-open-tab {
  cursor: url(/new-tab.png) 10 10, pointer
}

@font-face {
  font-family: 'CodeFont';
  src: url('/MonaspaceArgon-Regular.woff') format('truetype');
}

@font-face {
  font-family: 'DefaultEnFont';
  src: url('/GeistMono-Regular.woff2') format('truetype')
}

.github-theme h1 {
  font-size: 2rem !important;
}

.github-theme h2 {
  font-size: 1.75rem;
}

.github-theme h3 {
  font-size: 1.5rem;
}

.github-theme h4 {
  font-size: 1.25rem;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.link-active {
  transition: all 0.2s;
  border-radius:  0.5rem;
  background-color: #a78bfa2c;
}

.link-hover:hover {
    transition: all 0.2s;
    border-radius:  0.5rem;
    background-color: #a78bfa2c;
}

/* * {
    border: 1px solid red;
} */


::selection {
  background: #a78bfa55;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sponsorkit-avatar {
  cursor: pointer;
}
.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor;
}
.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(
      var(--enter-initial) + var(--enter-stage) * var(--enter-step)
    );
  }

  .slide-enter-content > *:nth-child(1) {
    --enter-stage: 1 !important;
  }
  .slide-enter-content > *:nth-child(2) {
    --enter-stage: 2 !important;
  }
  .slide-enter-content > *:nth-child(3) {
    --enter-stage: 3 !important;
  }
  .slide-enter-content > *:nth-child(4) {
    --enter-stage: 4 !important;
  }
  .slide-enter-content > *:nth-child(5) {
    --enter-stage: 5 !important;
  }
  .slide-enter-content > *:nth-child(6) {
    --enter-stage: 6 !important;
  }
  .slide-enter-content > *:nth-child(7) {
    --enter-stage: 7 !important;
  }
  .slide-enter-content > *:nth-child(8) {
    --enter-stage: 8 !important;
  }
  .slide-enter-content > *:nth-child(9) {
    --enter-stage: 9 !important;
  }
  .slide-enter-content > *:nth-child(10) {
    --enter-stage: 10 !important;
  }
  .slide-enter-content > *:nth-child(11) {
    --enter-stage: 11 !important;
  }
  .slide-enter-content > *:nth-child(12) {
    --enter-stage: 12 !important;
  }
  .slide-enter-content > *:nth-child(13) {
    --enter-stage: 13 !important;
  }
  .slide-enter-content > *:nth-child(14) {
    --enter-stage: 14 !important;
  }
  .slide-enter-content > *:nth-child(15) {
    --enter-stage: 15 !important;
  }
  .slide-enter-content > *:nth-child(16) {
    --enter-stage: 16 !important;
  }
  .slide-enter-content > *:nth-child(17) {
    --enter-stage: 17 !important;
  }
  .slide-enter-content > *:nth-child(18) {
    --enter-stage: 18 !important;
  }
  .slide-enter-content > *:nth-child(19) {
    --enter-stage: 19 !important;
  }
  .slide-enter-content > *:nth-child(20) {
    --enter-stage: 20 !important;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-base text-base rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-white dark: border-black;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.is-active-li {
    color: #a78bfa;
}

.toc-list-item {
    @apply m-2 transition-all
}

/* .toc-list-item ol {
    display: none;
} */

.node-name--H1 {
    @apply text-sm;
}

.node-name--H2 {
    @apply text-sm pl-2;
}

.node-name--H3 {
  @apply text-sm pl-4;
}

.node-name--H4 {
  @apply text-xs pl-6;
}

.is-collapsed {
    display: none;
}

.toc-link {
  white-space: nowrap;      /* 禁止换行 */
  overflow: hidden;         /* 隐藏超出部分 */
  text-overflow: ellipsis;  /* 显示省略号 */
}


/* 1. declare transition */
.slide-move,
.slide-enter-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: up-to-down .5s ease;
}

/* 2. declare enter from and leave to state */
.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: scaleY(1) translate(50px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.slide-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: up-to-down .5s ease reverse;
}

@keyframes down-to-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

/* 1. declare transition */
.reslide-move,
.reslide-enter-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: down-to-up .5s ease;
}

/* 2. declare enter from and leave to state */
.reslide-enter-from,
.reslide-leave-to {
  opacity: 0;
  transform: scaleY(1) translate(50px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.reslide-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation: up-to-down .5s ease reverse;
}


.favicon-shadow:hover {
  transform: translateZ(12px);
  transition: all 0.1s ease;
}

.dark .favicon-shadow:hover {
  transform: translateZ(12px);
  transition: all 0.1s ease;
}

.favicon-shadow {
  transform: rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  transition: all 0.1s ease;
  transform-style: preserve-3d;
}

.dark .favicon-shadow {
  transition: all 0.1s ease;
  transform-style: preserve-3d;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out 0.2s; /* 添加延迟 */
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1); /* 添加延迟 */
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


.blog-card-bg-filter img {
  transition: transform 100ms;
}

.blog-card-bg-filter:hover img {
  transform: scale(0.988);
}

.project-card-bg-filter img {
  transition: all 300ms ease;
  opacity: 0.8;
}

.project-card-bg-filter:hover img {
  transform: scale(1.05);
  opacity: 1;
}

.catalog {
  position: sticky;
  top: 80px;
  overflow: auto;
  height: auto;
  max-height: var(--toc-height);
  max-width: calc(1000px - 760px);
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}

.loader:before {
  content: "Loading...\AgodnLai...\Aoiaglni...\ALiongad...\Agindola...\Analoidg...";
  white-space: pre;
  display: inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100% {
    transform: translateY(-100%)
  }
}

.blog-card-cover img {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.dark .blog-card-cover img {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.blog-card-cover:hover img {
  opacity: 1;
}

.blog-content-image {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.blog-content-image:hover {
  opacity: 1;
}

/* CSS */
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blog-content-image {
  animation: slideInFromBottom 0.5s ease-in-out; /* 0.5s是动画时长，可以根据需要调整 */
}
