.violet-prose {
	color: var(--fg);
	font-size: 1.05rem;
	line-height: 1.75;
	width: 100%;
	/* overflow: hidden; */
	/* max-width: 65ch; */
}
.violet-prose [class~='lead'] {
	color: #4b5563;
	font-size: 1.05em;
	line-height: 1.6;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
.violet-prose strong {
	color: var(--fg-deep);
	font-weight: 600;
}
.violet-prose ol[type='A'] {
	--list-counter-style: upper-alpha;
}
.violet-prose ol[type='a'] {
	--list-counter-style: lower-alpha;
}
.violet-prose ol[type='A s'] {
	--list-counter-style: upper-alpha;
}
.violet-prose ol[type='a s'] {
	--list-counter-style: lower-alpha;
}
.violet-prose ol[type='I'] {
	--list-counter-style: upper-roman;
}
.violet-prose ol[type='i'] {
	--list-counter-style: lower-roman;
}
.violet-prose ol[type='I s'] {
	--list-counter-style: upper-roman;
}
.violet-prose ol[type='i s'] {
	--list-counter-style: lower-roman;
}
.violet-prose ol[type='1'] {
	--list-counter-style: decimal;
}
.violet-prose ol > li {
	position: relative;
	padding-left: 1.75em;
}
.violet-prose ol > li::before {
	content: counter(list-item, var(--list-counter-style, decimal)) '.';
	position: absolute;
	font-weight: 400;
	color: #6b7280;
	left: 0;
}
.violet-prose ul > li {
	position: relative;
	padding-left: 1.75em;
}
.violet-prose ul > li::before {
	content: '';
	position: absolute;
	background-color: #d1d5db;
	border-radius: 50%;
	width: 0.375em;
	height: 0.375em;
	top: calc(0.875em - 0.1875em);
	left: 0.25em;
}
.violet-prose hr {
	border-color: rgba(125, 125, 125, 0.3);
	margin-top: 3em;
	margin-bottom: 3em;
}
.violet-prose blockquote {
	font-weight: 500;
	font-style: italic;
	color: inherit;
	border-left-width: 0.25rem;
	border-color: rgba(125, 125, 125, 0.3);
	quotes: '\201C''\201D''\2018''\2019';
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	padding-left: 1em;
}
.violet-prose blockquote p:first-of-type::before {
	content: open-quote;
}
.violet-prose blockquote p:last-of-type::after {
	content: close-quote;
}
.violet-prose h1 {
	color: var(--fg-deeper);
	font-weight: 800;
	font-size: 2.25em;
	margin-top: 0;
	margin-bottom: 0.8888889em;
	line-height: 1.1111111;
}
.violet-prose h2 {
	color: var(--fg-deep);
	font-weight: 700;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3333333;
}
.violet-prose h3 {
	color: var(--fg-deep);
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 1.6em;
	margin-bottom: 0.6em;
	line-height: 1.6;
}
.violet-prose h4 {
	color: inherit;
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}
.violet-prose figure figcaption {
	color: #6b7280;
	font-size: 0.875em;
	line-height: 1.4285714;
	margin-top: 0.8571429em;
}
.violet-prose code {
	color: var(--fg-deep);
	font-weight: 600;
	font-size: 0.875em;
}
.violet-prose code::before {
	content: '`';
}
.violet-prose code::after {
	content: '`';
}
.violet-prose a code {
	color: #111827;
}
.violet-prose pre {
	color: #e5e7eb;
	overflow-x: auto;
	font-size: 0.875em;
	line-height: 1.7142857;
	/* margin-top: 1.7142857em; */
	margin-bottom: 1.7142857em;
	/* border-radius: 0.375rem; */
	padding-top: 0.8571429em;
	padding-right: 1.1428571em;
	padding-bottom: 0.8571429em;
	padding-left: 1.1428571em;
}
.violet-prose pre code {
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: 400;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
.violet-prose pre code::before {
	content: none;
}
.violet-prose pre code::after {
	content: none;
}
.violet-prose table {
	width: 100%;
	table-layout: auto;
	text-align: left;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 0.875em;
	line-height: 1.7142857;
}
.violet-prose thead {
	color: var(--fg-deep);
	font-weight: 600;
	border-bottom-width: 1px;
	border-bottom-color: #8882;
}
.violet-prose thead th {
	vertical-align: bottom;
	padding-right: 0.5714286em;
	padding-bottom: 0.5714286em;
	padding-left: 0.5714286em;
}
.violet-prose tbody tr {
	border-bottom-width: 1px;
	border-bottom-color: #8882;
}
.violet-prose tbody tr:last-child {
	border-bottom-width: 0;
}
.violet-prose tbody td {
	vertical-align: top;
	padding-top: 0.5714286em;
	padding-right: 0.5714286em;
	padding-bottom: 0.5714286em;
	padding-left: 0.5714286em;
}
.violet-prose p {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
.violet-prose video {
	margin-top: 2em;
	margin-bottom: 2em;
}
.violet-prose figure {
	margin-top: 2em;
	margin-bottom: 2em;
}
.violet-prose figure > * {
	margin-top: 0;
	margin-bottom: 0;
}
.violet-prose h2 code {
	font-size: 0.875em;
}
.violet-prose h3 code {
	font-size: 0.9em;
}
.violet-prose ol {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	list-style-type: none;
}
.violet-prose ul {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	list-style-type: none;
}
.violet-prose li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.violet-prose > ul > li p {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.violet-prose > ol > li > *:first-child {
	margin-top: 1.25em;
}
.violet-prose > ol > li > *:last-child {
	margin-bottom: 1.25em;
}
.violet-prose ul ul,
.violet-prose ul ol,
.violet-prose ol ul,
.violet-prose ol ol {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.violet-prose hr + * {
	margin-top: 0;
}
.violet-prose h2 + * {
	margin-top: 0;
}
.violet-prose h3 + * {
	margin-top: 0;
}
.violet-prose h4 + * {
	margin-top: 0;
}
.violet-prose h6 {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 0.5;
	font-weight: 500;
	letter-spacing: 2px;
}
.violet-prose thead th:first-child {
	padding-left: 0;
}
.violet-prose thead th:last-child {
	padding-right: 0;
}
.violet-prose tbody td:first-child {
	padding-left: 0;
}
.violet-prose tbody td:last-child {
	padding-right: 0;
}
.violet-prose > :first-child {
	margin-top: 0;
}
.violet-prose > :last-child {
	margin-bottom: 0;
}
.violet-prose b {
	color: var(--fg-deep);
}
.violet-prose em {
	color: inherit;
}
.violet-prose-sm {
	font-size: 0.875rem;
	line-height: 1.7142857;
}
.violet-prose-sm p {
	margin-top: 1.1428571em;
	margin-bottom: 1.1428571em;
}
.violet-prose-sm [class~='lead'] {
	font-size: 1.2857143em;
	line-height: 1.5555556;
	margin-top: 0.8888889em;
	margin-bottom: 0.8888889em;
}
.violet-prose-sm blockquote {
	margin-top: 1.3333333em;
	margin-bottom: 1.3333333em;
	padding-left: 1.1111111em;
}
.violet-prose-sm h1 {
	font-size: 2.1428571em;
	margin-top: 0;
	margin-bottom: 0.8em;
	line-height: 1.2;
}
.violet-prose-sm h2 {
	font-size: 1.4285714em;
	margin-top: 1.6em;
	margin-bottom: 0.8em;
	line-height: 1.4;
}
.violet-prose-sm h3 {
	font-size: 1.2857143em;
	margin-top: 1.5555556em;
	margin-bottom: 0.4444444em;
	line-height: 1.5555556;
}
.violet-prose-sm h4 {
	margin-top: 1.4285714em;
	margin-bottom: 0.5714286em;
	line-height: 1.4285714;
}
.violet-prose-sm img {
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
}
.violet-prose-sm video {
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
}
.violet-prose-sm figure {
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
}
.violet-prose-sm figure > * {
	margin-top: 0;
	margin-bottom: 0;
}
.violet-prose-sm figure figcaption {
	font-size: 0.8571429em;
	line-height: 1.3333333;
	margin-top: 0.6666667em;
}
.violet-prose-sm code {
	font-size: 0.8571429em;
}
.violet-prose-sm h2 code {
	font-size: 0.9em;
}
.violet-prose-sm h3 code {
	font-size: 0.8888889em;
}
.violet-prose-sm pre {
	font-size: 0.8571429em;
	line-height: 1.6666667;
	margin-top: 1.6666667em;
	margin-bottom: 1.6666667em;
	border-radius: 0.25rem;
	padding-top: 0.6666667em;
	padding-right: 1em;
	padding-bottom: 0.6666667em;
	padding-left: 1em;
}
.violet-prose-sm ol {
	margin-top: 1.1428571em;
	margin-bottom: 1.1428571em;
}
.violet-prose-sm ul {
	margin-top: 1.1428571em;
	margin-bottom: 1.1428571em;
}
.violet-prose-sm li {
	margin-top: 0.2857143em;
	margin-bottom: 0.2857143em;
}
.violet-prose-sm ol > li {
	padding-left: 1.5714286em;
}
.violet-prose-sm ol > li::before {
	left: 0;
}
.violet-prose-sm ul > li {
	padding-left: 1.5714286em;
}
.violet-prose-sm ul > li::before {
	height: 0.3571429em;
	width: 0.3571429em;
	top: calc(0.8571429em - 0.1785714em);
	left: 0.2142857em;
}
.violet-prose-sm > ul > li p {
	margin-top: 0.5714286em;
	margin-bottom: 0.5714286em;
}
.violet-prose-sm > ul > li > *:first-child {
	margin-top: 1.1428571em;
}
.violet-prose-sm > ul > li > *:last-child {
	margin-bottom: 1.1428571em;
}
.violet-prose-sm > ol > li > *:first-child {
	margin-top: 1.1428571em;
}
.violet-prose-sm > ol > li > *:last-child {
	margin-bottom: 1.1428571em;
}
.violet-prose-sm ul ul,
.violet-prose-sm ul ol,
.violet-prose-sm ol ul,
.violet-prose-sm ol ol {
	margin-top: 0.5714286em;
	margin-bottom: 0.5714286em;
}
.violet-prose-sm hr {
	margin-top: 2.8571429em;
	margin-bottom: 2.8571429em;
}
.violet-prose-sm hr + * {
	margin-top: 0;
}
.violet-prose-sm h2 + * {
	margin-top: 0;
}
.violet-prose-sm h3 + * {
	margin-top: 0;
}
.violet-prose-sm h4 + * {
	margin-top: 0;
}
.violet-prose-sm table {
	font-size: 0.8571429em;
	line-height: 1.5;
}
.violet-prose-sm thead th {
	padding-right: 1em;
	padding-bottom: 0.6666667em;
	padding-left: 1em;
}
.violet-prose-sm thead th:first-child {
	padding-left: 0;
}
.violet-prose-sm thead th:last-child {
	padding-right: 0;
}
.violet-prose-sm tbody td {
	padding-top: 0.6666667em;
	padding-right: 1em;
	padding-bottom: 0.6666667em;
	padding-left: 1em;
}
.violet-prose-sm tbody td:first-child {
	padding-left: 0;
}
.violet-prose-sm tbody td:last-child {
	padding-right: 0;
}
.violet-prose-sm > :first-child {
	margin-top: 0;
}
.violet-prose-sm > :last-child {
	margin-bottom: 0;
}
